GOOGLE_SERVICE_ACCOUNT_EMAIL=your-service-account@your-project.iam.gserviceaccount.com
GOOGLE_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\nMIIE...\n-----END PRIVATE KEY-----\n"
SPREADSHEET_ID_MAIN=your_main_spreadsheet_id
NEXT_PUBLIC_LOGO_URL=https://lh3.googleusercontent.com/d/1ocYgthsC2y2xag0zLA_G0umJsMbUY9ph
